# Build the program across the supported platforms

name: Create-Executables

on: 
  workflow_dispatch:
    inputs:
      version:
        description: Version number to release (e.g. v1.1.1)
        required: true
        type: string
      message:
        description: Message to display in job summary
        required: false
        type: string

jobs:
  create-execs: 
    strategy:
      matrix:
        include:
          - runner-name: ubuntu-latest
            arch: linux-x86_64
          - runner-name: macos-15-intel
            arch: macos-x86_64
          - runner-name: macos-latest
            arch: macos-arm64
    runs-on: ${{ matrix.runner-name }}
    steps:
      - uses: actions/checkout@v6
      - run: |
          cd src
          echo ${{ inputs.version }} >version.txt
          grep 'VERSION =' version.h | awk '{print $5}' | sed 's/\"//;s/\"//;s/;//' >version2.txt
          diff version.txt version2.txt
          if [ $? -ne 0 ] ; then
            exit 1
          fi
      - name: print the platform
        run: |
          uname -a
          uname -a >>$GITHUB_STEP_SUMMARY
      - name: make clean
        run: | 
          cd src
          make clean
      - name:  make verbose
        run: |
          cd src
          make verbose
      - uses: actions/upload-artifact@v6
        with:
          name: skat-scoresheet-${{ matrix.arch }}
          path: ${{ github.workspace }}/src/skat-scoresheet
      - name: Print the job summary
        if: ${{ inputs.message }}
        run: |
          echo ${{ inputs.message }} >>$GITHUB_STEP_SUMMARY
